* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  word-spacing: 1px;
  box-sizing: border-box;
}

body {
  color: #333;
  text-align: left;
  background: #f3f3f4;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  padding-top: 70px;
  padding-left: 15px;
  padding-right: 15px;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  background-color: transparent;
}

a:focus {
  text-decoration: none;
}

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  -webkit-user-select: none;
  user-select: none;
}

pre,
code {
  font-family: Consolas, "Courier New", monospace;
}

pre {
  display: block;
}

pre.hljs {
  padding: 12px 16px 0;
  border-radius: 8px;
  background: #f6f8fa;
  border: 1px solid #eee;
}

pre code {
  font-size: 14px;
  line-height: 19px;
  display: block;
  overflow-x: auto;
  padding-bottom: 12px;
}

.pre-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.pre-header-left div {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
  display: inline-block;
}

.pre-header-left div:nth-of-type(1) {
  background: rgb(255, 95, 86);
}

.pre-header-left div:nth-of-type(2) {
  background: rgb(255, 189, 46);
}

.pre-header-left div:nth-of-type(3) {
  background: rgb(39, 201, 63);
}

.pre-header-right {
  font-size: 12px;
  color: #777;
  padding-top: 1px;
  -webkit-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(120, 120, 120, 0.7);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(120, 120, 120, 0.8);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(120, 120, 120, 0.9);
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #f5f5f5;
}

.ant-form-item {
  margin-bottom: 15px;
}

.ant-form-item-label {
  line-height: 30px;
}

table th {
  color: rgba(0, 0, 0, 0.85) !important;
  font-weight: 500 !important;
  background: #fafafa !important;
  border: 1px solid #e8e8e8 !important;
}

.ant-table-thead > tr > th {
  border-width: 0 0 1px 0 !important;
}

.ant-empty-description {
  user-select: none;
  color: #888;
}

.tui-editor-contents li.task-list-item {
  margin-left: -15px;
  pointer-events: none;
}